.slider {
	margin-bottom: 100px;
}

.swiper-slide {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	border: 1.84px solid #f3f5f6;
	border-radius: var(--border-radius-24);

	width: 380px !important;
	height: 220px !important;

	@include mobile {
		width: 150px !important;
		height: 88px !important;
	}
}
