.slider {
	margin-bottom: 100px;
}

.slider__wrapper {
	display: flex;
	justify-content: center;
	overflow: hidden;
	gap: 57px;
}
.slider-item {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1.84px solid #f3f5f6;
	border-radius: var(--border-radius-24);
	width: 380px;
	height: 220px;
	padding: 32px 40px;
}
